/*<SKIP>*/ /*

Styles for FlipFlop-Switch
To insert one, use:
  <div class="flipflop">
    <span>Caption</span>
    <label><input type="checkbox" checked="checked" /><span></span></label>
  </div>

To adjust configuration, following css-vars can be set to any element with class "flipflop":
  --width           [Default: 3rem]
  --speed           [Default: 0.4s]
  --color-thumb     [Default: #fff]
  --color-on        [Default: #2196f3]
  --color-off       [Default: #ccc]
  --label-offset    [Default: 1rem]
  
*/ /*</SKIP>*/

.flipflop {
  --_width: var(--width, 3rem);
  --_speed: var(--speed, 0.4s);
  --_color-thumb: var(--color-thumb, #fff);
  --_color-on: var(--color-on, #2196f3);
  --_color-off: var(--color-off, #ccc);
  --_label-offset: var(--label-offset, 1rem);
  --padding-thumb: calc(var(--_width)*.0666666667);
  --height: calc(var(--_width)/2 + var(--padding-thumb));
  --size-thumb: calc(var(--height) - 2*var(--padding-thumb));
  display: inline-flex;
  align-items: center;
}

.flipflop > label {
  display: inline-block;
  position: relative;
  width: var(--_width);
  height: var(--height);
  padding: unset !important;
}

.flipflop > label input {
  opacity: 0;
  width: 0;
  height: 0;
}

.flipflop > label > span {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--_color-off);
  -webkit-transition: var(--_speed);
  transition: var(--_speed);
}

.flipflop > label > span:before {
  position: absolute;
  content: "";
  height: var(--size-thumb);
  width: var(--size-thumb);
  left: var(--padding-thumb);
  bottom: var(--padding-thumb);
  background-color: var(--_color-thumb);
  -webkit-transition: var(--_speed);
  transition: var(--_speed);
}

.flipflop > label > input:checked + span {
  background-color: var(--_color-on);
}

.flipflop input:focus + span {
  box-shadow: 0 0 1px var(--_color-on);
}

.flipflop > label > input:checked + span:before {
  -webkit-transform: translateX(var(--size-thumb));
  -ms-transform: translateX(var(--size-thumb));
  transform: translateX(var(--size-thumb));
}

.flipflop > label > span {
  border-radius: calc(var(--height));
}
.flipflop > label > span:before {
  border-radius: 50%;
}
