:root {
  --theme-color: #d53d16;
}

@-moz-keyframes spinR { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spinR { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spinR { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@-moz-keyframes spinL { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spinL { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spinL { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

.spinRightOnHover:hover {
  --duration: 1s;
  -webkit-animation: spinR var(--duration) linear infinite;
  -moz-animation: spinR var(--duration) linear infinite;
  animation: spinR var(--duration) linear infinite;
}
.spinLeftOnHover:hover {
  --duration: 1s;
  -webkit-animation: spinL var(--duration) linear infinite;
  -moz-animation: spinL var(--duration) linear infinite;
  animation: spinL var(--duration) linear infinite;
}

.stretchToParent {
  height: 100%;
  width: 100%;
}

.clickable {
  cursor: pointer;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* For IE9- support add attribute unselectable="on" */
}

.container-fluid, .container-fluid *, .container-fluid *::before, .container-fluid *::after { box-sizing: border-box }
.container-fluid { box-sizing: border-box; width: 100%; margin-inline: auto; padding: 0 }

.row { display: flex; flex-wrap: wrap }
.row > * { flex-shrink: 0; max-width: 100%; width: 100% }

.col-auto,.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12 { flex: 0 0 auto }
.col-auto { width: auto }
.col { flex: 1 0 0 }
.col-1 { width: 8.33333333% }
.col-2 { width: 16.66666667% }
.col-3 { width: 25% }
.col-4 { width: 33.33333333% }
.col-5 { width: 41.66666667% }
.col-6 { width: 50% }
.col-7 { width: 58.33333333% }
.col-8 { width: 66.66666667% }
.col-9 { width: 75% }
.col-10 { width: 83.33333333% }
.col-11 { width: 91.66666667% }
.col-12 { width: 100% }

.hidden { display: none !important }

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 12rem;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid #949296;
  border-radius: .25rem;
  padding: .75rem;
}

.card-body { flex: 1 1 auto; padding: 1rem 1rem }
.card-group { margin-block: 1rem; }
.card-group > .card { margin-bottom: 1rem; }
.card-group > .card ~ .card {
  margin-left: 1rem;
}

.card legend {
  padding-inline: .5rem;
  text-align: center;
}

input[type="date"] {
  display: inline-block;
  margin: 7px 0 15px 0;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.btn-small {
  font-size: .75rem;
  padding: .2rem .75rem;
}

.buttonGroup {
  display: inline-block;
}

.btn:not(.disabled):hover {
  filter: brightness(1.5);
  -webkit-filter: brightness(1.5);
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.disabled {
  filter: brightness(.5) !important;
  -webkit-filter: brightness(.5) !important;
  cursor: default !important;
  pointer-events: none;
}


.customDropdown {
  --borderColor: #555;
  --borderWidth: 1px;
  --totalWidth: 8rem;
  width: var(--totalWidth);
  height: 2rem;
  margin-left: auto;
  color: var(--theme-color);
  cursor: pointer;
  border: var(--borderWidth) solid var(--borderColor);
  border-top-left-radius: 1px;
  border-bottom: 0;
}

.customDropdown:hover > .customDropdownToggler > span:last-of-type  {
  transform: rotate(90deg);
}

.customDropdownToggler {
  position: absolute;
  height: inherit;
  width: inherit;
  background: linear-gradient(to left, var(--borderColor) var(--borderWidth), var(--theme-color) var(--borderWidth), var(--theme-color) 1.75rem, #fcfcfc 1.75rem);
  font-weight: bold;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border-radius: 1px;
  border-bottom: var(--borderWidth) solid var(--borderColor);
}

.customDropdownToggler:hover + .customDropdownMenu,
.customDropdownMenu:hover {
  display: block;
}

.customDropdownToggler > span {
  width: calc(100% - 1.75rem);
  display: flex;
  height: inherit;
  padding-left: .4rem;
  align-items: center;
}

.customDropdown_ActiveVal {
  border: var(--borderWidth) solid var(--borderColor);
  border-bottom-width: 0;
}

.customDropdownToggler > span:last-of-type {
  border-radius: 1px 1px 0 0;
  width: 1.5rem;
  text-align: center;
  color: #fcfcfc;
  transition: transform .15s ease-in-out;
  position: relative;
  padding-left: calc(2*var(--borderWidth));
  justify-content: center;
}

.customDropdownMenu {
  position: relative;
  top: 100%;
  border-radius: 0 0 1px 1px;
  border: var(--borderWidth) solid var(--borderColor);
  left: calc(0px - var(--borderWidth));
  max-width: unset;
  width: calc(100% + 3*var(--borderWidth));
  display: none;
}

.customDropdownMenu > div {
  background-color: #252525;
  font-weight: bold;
  padding-left: .4rem;
  padding-block: .2rem;
  display: flex;
  align-items: center;
  padding-top: .2rem;
  border-top: var(--borderWidth) solid var(--borderColor);
}

.customDropdownMenu > div:hover {
  background-color: #f0cbc2;
}

.customDropdownMenu svg {
  margin-right: .6rem;
  height: 1rem;
  width: 2rem;
}


.svgColorized { --color: var(--theme-color); }
.svgColorized .svgColoredFill { fill: var(--color) }
.svgColorized .svgColoredStroke { stroke: var(--color) }
