# This will allow to split the script in several files
[merge]
enabled=true
fnc=merge_blocks
open_tag=/*%% 
close_tag= %%*/

# This will allow to use marked comments to separate them from regular comments in case those shall not be skipped
[skipBlocks]
enabled=true
fnc=remove_skip_blocks
open_tag=/*<SKIP>*/
close_tag=/*</SKIP>*/

# This will remove all line comments starting with //
[lineComments]
enabled=false
fnc=remove_line_comments
open_tag=//
close_tag=$
start_at_line=22

# This will remove all multiline comments starting with /* and ending with */
[blockComments]
enabled=false
fnc=remove_block_comments
open_tag=/\*[^*]
close_tag=\*/

# This will remove all doc comments starting with /** and ending with */
[docComments]
enabled=true
fnc=remove_doc_comments
open_tag=/**
close_tag=*/

# This will remove empty lines from the output file
[emptyLines]
enabled=true
fnc=remove_blank_lines

# Removes all leading and trailing spaces and tabs of each line
[trimSpaces]
enabled=false
fnc=trim_spaces
