#ignoredUsers {
  width: 100%;
}

#paginationContainer {
  text-align: center;
  margin-top: .8rem;
}

#paginationContainerBottom {
  text-align: center;
  margin-bottom: 1rem;
}

#paginationNext {
  margin-inline: 0 !important;
  padding-inline: 2rem;
  border-radius: 10% 25% 25% 10%;
}

#paginationLast {
  border-radius: 20% 50% 50% 20%;
  padding-inline: 1rem;
  padding-block: 0 !important;
  margin-inline-start: 0 !important;
}

#paginationBack {
  margin-inline: 0 !important;
  padding-inline: 2rem;
  border-radius: 25% 10% 10% 25%;
}

#paginationFirst {
  border-radius: 50% 20% 20% 50%;
  padding-inline: 1rem;
  padding-block: 0 !important;
  margin-inline-start: 0 !important;
}

.pageNrBtn {
  padding-inline: max(1vw, 10px);
  margin-inline: .25rem !important;
}

.pageNrBtn.activePage {
  cursor: default !important;
  font-weight: bold !important;
  background-color: var(--theme-color) !important;
  filter: brightness(.5);
  -webkit-filter: brightness(.5);
}

#paginationControl {
  margin-bottom: .5rem;
}

#paginationControl, #paginationControlBottom {
  display: flow-root;
}

#commentsFromToContainer, #commentsFromToContainerBottom {
  float: left;
}

#commentsPerPageContainer, #commentsPerPageContainerBottom {
  float: right;
  display: flex;
}

#commentsPerPageContainer small, #commentsPerPageContainerBottom small {
  align-self: center;
  white-space: pre;
  margin-inline-end: .75rem;
}

#commentsPerPageContainer .select, #commentsPerPageContainerBottom .select {
  background-color: #eee;
  margin-block: auto;
  padding: .4rem;
  font-size: .75rem;
  text-align: center;
  text-align-last: center;
}

.msgNoResults {
  margin-block: 2rem;
  text-align: center;
  font-style: italic;
}

.repliesCollapsed .replyContainer:nth-last-child(n+4) {
  display: none;
}

.expander {
  padding-top: 1rem;
  margin-left: 75px;
  margin-bottom: -.5rem;
  cursor: pointer;
  color: var(--theme-color);
}
.expander:hover {
  font-weight: bold;
}

#moreFilterTrigger {
  float: right;
}
#moreFilterTrigger:hover {
  font-weight: bold;
  cursor: pointer;
}

#moreFilterMenu {
  margin-inline-start: 1rem;
}

#enhancedUi label {
  padding-block: .75rem;
}

.selectedUserFilter {
  margin-right: .75rem;
  margin-bottom: .5rem;
  background-color: lightgray;
  padding: .2rem .6rem;
  color: var(--theme-color);
  border-radius: 6px;
  width: auto;
  display: flex;
}
.selectedUserFilter :first-child {
  margin-right: .4rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.selectedUserFilter :last-child:after {
  color: #f00;
  content: var(--svg-unchecked);
  vertical-align: middle;
  display: inline-flex;
}
.selectedUserFilter :last-child:hover {
  cursor: pointer;
  font-weight: bold;
}
#filteredUserList {
  justify-content: end;
}

#settingsLanguage {
  align-items: center;
}

.commentText.hasOverflow,
.replyText.hasOverflow {
  --linesBeforeCut: 10;
  overflow-y: hidden;
  max-height: ${maxCommentHeightBeforeCut}px;
  -webkit-mask-image: linear-gradient(to bottom, #000, #0000);
  mask-image: linear-gradient(to bottom, #000, #0000);
}

.showFullLength {
  padding-bottom: 1rem;
  color: #205bca;
  font-weight: bold;
  margin-top: -.5rem;
}
.showFullLength:hover {
  color: #4e7cd5;
  cursor: pointer;
}

.replyText + .showFullLength {
  padding-bottom: 0;
}
